#dept h2{
  color:#16a085;
  padding-left: 12%;
  font-family: "Lato Hairline";
  font-weight: bold;
}
#dept .deptcont
{
	font-family: "Lato Hairline";
	font-weight:bold;
}
#dept .hod
{
	font-size: 30pt;
	font-weight:lighter;
	color:#4B77BE;
}
#dept hr{
    padding: 0px;
    margin: 0px;    
  }

   @media screen and (min-width: 980px) {
    .mypanel{
        height:500%;
        

       }
      }

#dept .mypanel {
    height: 500%;
    background-color: white;
  	box-shadow: 0px 0px 9px 1px #999999; /*shadow change*/
    border-radius: 6px;
    width: auto;
    margin-left: 12%;
    margin-right: 12%
  }
#dept #myTab1 {
  width: auto;
  padding-top: 0px;
}


#dept #myTab1 li a:hover  {
  border-left: 3px solid #16a085;
  background-color: #fff;
  left: -3px;

}

#dept .hod p,h5,li,td {
  font-family: 'Lato', sans-serif;
}

#dept .tabs-left .nav-tabs > li:first-child > a {
    border-radius: 0px 0px 0px ;
}
#dept .tabs-left .nav-tabs > li:last-child > a {
    border-radius: 0px 0px 0px 0px;
}

#dept .tab-content {
  padding-left: 20%;  /*was 28%*/
}

/*my additions*/

#dept p, li{
  text-align: justify;
  padding-right: 30px;
}

#dept #about, #hod, #faculty, #facilities, #resources, #associations, #achievements{
  padding-left: 10px;
  padding-bottom: 10px;
}

#dept h4{
  font-size: 27px;
  color: #16a085;
  font-weight: 200;
  margin-bottom: 0px;
}

#dept p, li, span{
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 300;
  color: #434A54;
}

#dept #myTab1 li {
display: block;
padding: 3px 0px 3px 0px;
width: auto;
font-family: 'Lato Hairline';
font-size: 30px;
font-weight: 300;
background-color: white;
border-top: none;
text-align: justify;
}

#dept .line{
  border-bottom: 2px solid #16a085;
  margin-right: 25px;
}

#dept .imag{
  float: left;
  padding-right: 10px;
}

#dept .tb{
  font-family: "Lato";
  font-size: 23px;
  color: rgba(53, 52, 52, 1);
  font-weight: 300;
  margin-bottom: 0px;
}
#dept .par{
  margin-left: 10px;
  font-size: 16px;
}
#dept .line1{
  border-bottom: 2px solid #16a085;
  margin-right: 25px;
  margin-left: 96px;  
}

/*anjaly*/

@media 